use youtubeVideos
db.youtubeVideos.createIndex({"id":1},{unique:true})

//----------下边是一些示例用法：
tag包含某条件输出
db.youtubeVideos.find({"snippet.tags":"在异样的风暴中心"},{"id":1,"snippet":1})

q = c.Find(bson.M{"empid": eid}).Sort("applieddate", "status")
// Use Skip() and Limit() to denote the page you want to send, e.g.
q = Skip((page-1) * 20).Limit(20)
err := q.All(&result)


//----内存排序扩容
db.adminCommand({setParameter: 1, internalQueryExecMaxBlockingSortBytes:210326592})